.currentTime {
  color: #fff;
  font-size: 0.8rem;
  margin-left: 1rem;
}

.buttonStyle {
  color: rgba(34,45,63,255);
  font-size: 20px;
  margin: 10px;
  background-color: teal;
  border-color: rgba(19,28,43,255);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.buttonStyle:hover {
  background-color: rgba(135, 250, 170, 1);
}
.buttonStyle:active {
  background-color: rgba(19,28,43,255);
  color: white;
}