.App {
  text-align: center;
} 

body {
  background: #28272c;
}

.topHeader {
  position: fixed;
  width:100%;
  top: 0;
  padding: 0px;
  text-align: center;
  background: #28272c;
  color: white;
  font-size: 30px;
}

.botHeader {
  position: fixed;
  width:100%;
  bottom: 0;
  padding: 0px;
  text-align: center;
  background: #28272c;
  color: white;
  font-size: 30px;
}

.audioPlayer {
  position: 'relative';
  margin-top: 50px;
}

.audioUploader {
  position: 'relative';
  margin-top: 250px;
}
