.App {
  text-align: center;
} 

body {
  background-color: rgba(34,45,63,255);
}

.topHeader {
  position: fixed;
  width:100%;
  top: 0;
  padding: 60px;
  text-align: center;
  background: rgba(19,28,43,255);
  color: white;
  font-size: 30px;
}

.botHeader {
  position: fixed;
  width:100%;
  bottom: 0;
  padding: 60px;
  text-align: center;
  background: rgba(19,28,43,255);
  color: white;
  font-size: 30px;
}